@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(70, 70, 70);
}

.m_label {
  color: red !important;
  text-align: left;
  white-space: pre-line;
  font-size: 1.2rem !important;
  font-weight: 900;
  padding-top: 80px;
  -webkit-text-stroke: 0.9px rgb(197, 197, 197);
}
